* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

$primary: #BA181B;
$alignText: center;
$h1Font: 35px;
$pFont: 22px;
$radius: 6px;
$shadowBox: rgba(0, 0, 0, 0.35) 0px 5px 10px;

@mixin spacePadding {
  padding: 25px;
  margin: 12px;
}

@mixin containers {
  height: 100vh;
}

@mixin alignElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin buttonPrimary {
  padding: 12px 26px;
  margin: 10px;
  border-radius: $radius;
  background-color: $primary;
  border: none;
  color: #fff;
  font-size: 18px;
  box-shadow: $shadowBox;
  cursor: pointer;
}

@mixin buttonPrimaryHover {
  background-color: #a7171a;
}

//HomePage

.container{
  @include alignElements();
  @include containers();
}

.title-home{
  text-align: $alignText;
  font-size: $h1Font;
  @include spacePadding();
  background-color: $primary;
  border-radius: $radius;
  color: #fff;
  box-shadow: $shadowBox;
}

.img-home{
  width: 320px;
}

.instruction-home{
  text-align: $alignText;
  font-size: $pFont; 
  @include spacePadding();
  border-radius: $radius;
  box-shadow: $shadowBox;
}

.btn{
  @include buttonPrimary();
}

.btn:hover{
  @include buttonPrimaryHover();
}

//ConfigPage

//PomodoroPage