* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

$primary: #ba181b;
$alignText: center;
$h1Font: 32px;
$pFont: 22px;
$radius: 6px;
$radiusXl: 25px;
$shadowBox: rgba(0, 0, 0, 0.35) 0px 5px 10px;
$paddingFont: 15px;

@mixin containers {
  min-height: 100vh;
  padding: 25px;
  background-color: #262626;
}

@mixin alignElements($justify) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: $justify;
}

@mixin buttonPrimary($padding, $radius) {
  padding: $padding;
  margin: 15px 15px;
  border-radius: $radius;
  background-color: $primary;
  border: none;
  color: #fff;
  font-size: 18px;
  box-shadow: $shadowBox;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

@mixin buttonPrimaryHover {
  background-color: #961417;
}

@mixin inputs {
  padding: 10px 14px;
  border-radius: $radiusXl;
  font-size: 16px;
}

//HomePage

.container {
  @include alignElements(start);
  @include containers();
}

.title-home {
  text-align: $alignText;
  padding: $paddingFont;
  font-size: $h1Font;
  color: #fff;
  margin: 20px 0px;
  border-bottom: 1px solid gray;
}

.instruction-home {
  padding: 12px;
  text-align: $alignText;
  font-size: $pFont;
  margin: 8px 0px;
  color: #fff;
}

.img-home {
  height: 320px;
}

.btn {
  @include buttonPrimary(12px 26px, $radius);
}

.btn:hover {
  @include buttonPrimaryHover();
}

//ConfigPage

.config-icon {
  font-size: 8rem;
  color: #fff;
  margin: 30px 0px 25px 0px;
  box-shadow: $shadowBox;
  border-radius: $radius;
  padding: 25px;
  background-color: $primary;
}

.box-settings {
  @include alignElements(center);
}

.instruction-settings {
  margin-top: 10px;
  padding: 5px;
  font-size: $pFont;
  color: #fff
}

select {
  @include inputs();
  margin: 5px;
}

input {
  @include inputs();
  margin: 20px;
  text-align: center;
  border: 1px solid #000;
  width: 230px;
}

//PomodoroPage

.social {
  border: 1px solid black;
  font-size: 3rem;
  padding: 10px;
  background-color: #fff;
  text-decoration: none
}

.clock {
  @include alignElements(space-between);
  color: #fff;
  margin: 25px 0px;
  border-bottom: 1px solid gray;

  h1 {
    font-size: 7rem;
    padding: 25px;
  }

  h4 {
    font-size: $h1Font;
    padding-bottom: 16px;
  }
}

.task {
  padding: $paddingFont;
  margin-bottom: 12px;
  font-size: 20px;

  span {
    padding-left: 10px;
    font-size: $pFont;
  }
}

.controls {
  padding: 10px;
}

.control {
  @include buttonPrimary(22px, 50%);
}

.control:hover {
  @include buttonPrimaryHover();
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $pFont;
  padding: $paddingFont;
  margin: 8px;
}

.back a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.back a:hover {
  text-decoration: underline;
}

.back-cog {
  padding-left: 10px;
  font-size: 18px;
}

.socials {
  padding: 20px;
  margin-top: 25px;
}

.social {
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  background: none;
  border: none;
  color: gray;
}

#twitter:hover {
  color: #1EA1F2;
}

#instagram:hover {
  color: #DB7093;
}

#github:hover {
  color: #778899;
}

.author {
  font-size: 20px;
  color: gray;
}